<div class="register_container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="auth_item">
            <p>Имя пользователя</p>
            <input formControlName="username" class="auth_input"/>
            <p class="error_message">{{getError('username')}}</p>
        </div>
        <div class="auth_item">
            <p>Пароль</p>
            <input type="password" formControlName="password" class="auth_input"/>
            <p class="error_message">{{getError('password')}}</p>
        </div>
        <button type="submit" class="button_default">
            Войти
        </button>
    </form>
</div>